In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/23 05:56:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.version

'3.3.1'

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-02-22 13:00:20--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230222%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230222T130020Z&X-Amz-Expires=300&X-Amz-Signature=cfc2f6c699a7807d69cba17f606fba6a17dd2c91b10d5867665ee57b1378370f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-22 13:00:20--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230222%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230222T130020Z&X-Amz-Expires=300&X-Amz-Signature=cfc2f6c699a7807d69cba17f606fba6a17dd2c91b10d5867665ee57b1378370f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  35.0MB/s    in 4.7s

2023-02-22 13:00:25 (35.4 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [4]:
!gunzip fhvhv_tripdata_2021-06.csv.gz

gzip: fhvhv_tripdata_2021-06.csv.gz: No such file or directory

In [5]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [6]:
fhv_df = spark.read.option('header','true').schema(schema).csv('fhvhv_tripdata_2021-06.csv')

In [7]:
fhv_df.printSchema()
fhv_df.show()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [20]:
fhv_df.repartition(12).write.parquet('Homework_parquet')

In [8]:
fhv_df.createOrReplaceTempView('fhv_202106_data')

In [39]:
fhv_df.withColumn('pickupdate', dayofmonth('pickup_datetime')) \
      .withColumn('pickUpYear', year('pickup_datetime')) \
      .withColumn('pickUpMonth', month('pickup_datetime')) \
      .where((col('pickupdate') == 15) & (col('pickUpYear') == 2021) & (col('pickUpMonth') == 6)) \
      .count()

452470

In [47]:
sql='''
select 
    Date(pickup_datetime) as date, count(1)
From
    fhv_202106_data
group by 
    Date(pickup_datetime) 
having 
    Date(pickup_datetime)  = '2021-06-15'

'''

spark.sql(sql).show()

+----------+--------+
|      date|count(1)|
+----------+--------+
|2021-06-15|  452470|
+----------+--------+

In [58]:
fhv_df.withColumn('trip_duration', col('dropoff_datetime').cast('long') - col('pickup_datetime').cast('long')) \
      .withColumn('trip_duration_hr', col('trip_duration')/3600) \
      .orderBy(desc('trip_duration')) \
      .select('trip_duration_hr') \
      .show(truncate=False)

+------------------+
|trip_duration_hr  |
+------------------+
|66.8788888888889  |
|25.549722222222222|
|19.980833333333333|
|18.197222222222223|
|16.466944444444444|
|14.268888888888888|
|13.909722222222221|
|11.67             |
|11.365833333333333|
|10.984444444444444|
|10.2675           |
|9.966388888888888 |
|9.966388888888888 |
|9.637777777777778 |
|9.624444444444444 |
|9.480277777777777 |
|9.471666666666666 |
|9.402222222222223 |
|9.393611111111111 |
|9.376944444444444 |
+------------------+
only showing top 20 rows

In [12]:
sql='''
select dropoff_datetime, pickup_datetime , DATEDIFF(second, pickup_datetime, dropoff_datetime)/3600 as  diff
from fhv_202106_data
order by diff desc
'''

spark.sql(sql).show(truncate=False)

+-------------------+-------------------+------------------+
|dropoff_datetime   |pickup_datetime    |diff              |
+-------------------+-------------------+------------------+
|2021-06-28 08:48:25|2021-06-25 13:55:41|66.8788888888889  |
|2021-06-23 13:42:44|2021-06-22 12:09:45|25.549722222222222|
|2021-06-28 06:31:20|2021-06-27 10:32:29|19.980833333333333|
|2021-06-27 16:49:01|2021-06-26 22:37:11|18.197222222222223|
|2021-06-24 13:08:44|2021-06-23 20:40:43|16.466944444444444|
|2021-06-24 12:19:39|2021-06-23 22:03:31|14.268888888888888|
|2021-06-25 13:05:35|2021-06-24 23:11:00|13.909722222222221|
|2021-06-05 08:36:14|2021-06-04 20:56:02|11.67             |
|2021-06-27 19:07:16|2021-06-27 07:45:19|11.365833333333333|
|2021-06-21 04:04:16|2021-06-20 17:05:12|10.984444444444444|
|2021-06-01 22:41:32|2021-06-01 12:25:29|10.2675           |
|2021-06-01 21:59:45|2021-06-01 12:01:46|9.966388888888888 |
|2021-06-28 23:11:58|2021-06-28 13:13:59|9.966388888888888 |
|2021-06-27 13:30:30|2021-06-27 03:52:14|9.637777777777778 |
|2021-06-18 18:27:57|2021-06-18 08:50:29|9.624444444444444 |
|2021-06-09 02:07:03|2021-06-08 16:38:14|9.480277777777777 |
|2021-06-12 08:54:38|2021-06-11 23:26:20|9.471666666666666 |
|2021-06-15 16:11:30|2021-06-15 06:47:22|9.402222222222223 |
|2021-06-25 11:56:01|2021-06-25 02:32:24|9.393611111111111 |
|2021-06-05 03:04:00|2021-06-04 17:41:23|9.376944444444444 |
+-------------------+-------------------+------------------+
only showing top 20 rows

In [13]:
!ls

03_test.ipynb		   08_rdds.ipynb	 fhvhv_tripdata_2021-01.csv.gz
04_pyspark.ipynb	   09_spark_gcs.ipynb	 fhvhv_tripdata_2021-06.csv
05_taxi_schema.ipynb	   Homework_parquet	 head.csv
06_spark_sql.ipynb	   Practice.ipynb	 homework.ipynb
06_spark_sql.py		   Week5_Homework.ipynb  lib
06_spark_sql_big_query.py  cloud.md		 spark-warehouse
07_groupby_join.ipynb	   download_data.sh	 taxi_zone_lookup.csv

In [14]:
zones_df = spark.read.csv('taxi_zone_lookup.csv', header=True,inferSchema=True)

In [16]:
zones_df.show()
zones_df.printSchema()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [17]:
zones_df.createOrReplaceTempView('Zones')

In [23]:
sql='''

with CTE_fhv as (
select 
    count(1) as ct, PULocationID
from 
    fhv_202106_data 
group by PULocationID
order by ct desc
LIMIT 1
)

select LocationID, Zone from Zones where LocationId in (select PULocationId from CTE_FHV)
'''
spark.sql(sql).show()

+----------+-------------------+
|LocationID|               Zone|
+----------+-------------------+
|        61|Crown Heights North|
+----------+-------------------+